body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
section {
  display: flex;
  padding-bottom: 100px;
}
h1 {
  font-size: 50px;
}
h1 > span {
  color: orange;
}
.half-width {
  width: 45%;
  padding-left: 5%;
}
.half-width img {
  width: 85%;
}
.button-one {
  text-decoration: none;
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  padding: 10px 40px;
  color: white;
  font-weight: 700;
  border-radius: 10px;
}
.top-part {
  background-image: url(../images/top-banner.png);
  background-repeat: no-repeat;
}
h2 {
  font-size: 40px;
}
.dream-part {
  background-image: url(../images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
